
.vs/ProjectHotel_UAS_PAD/v17/.suo
bin/Debug/ProjectHotel_UAS_PAD.exe
bin/Debug/ProjectHotel_UAS_PAD.exe.config
bin/Debug/ProjectHotel_UAS_PAD.pdb
obj/Debug/ProjectHotel_UAS_PAD.csproj.CoreCompileInputs.cache
obj/Debug/ProjectHotel_UAS_PAD.csproj.GenerateResource.cache
obj/Debug/ProjectHotel_UAS_PAD.exe
obj/Debug/ProjectHotel_UAS_PAD.Properties.Resources.resources
obj/Debug/ProjectHotel_UAS_PAD.pdb
